h1 {

  font-family: 'Roboto Mono', monospace;
    text-align: center;

}
.container h3 {
text-align: center;
}
.container img {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
h2 {
  text-align: center;
}
.gallery {
  
margin: 15%;
  
}
div.container2 {
  background-image: url("../../images/backgrounds/c_image.jpg");
  padding: 25px;
  background-repeat: no-repeat;
  background-size: cover;
}

.message {
  height: 200px;
  width: 80%;
}
.end {
  text-align: center;
}
.welcome {
  background-image: url("../images/backgrounds/h_img.jpg");
  color: whitesmoke;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10%;
}

.welcome h6 {
  text-align: center;
  font-size: x-small;
  padding-top: 3cm;
  
}
.logo {
  text-align: center;
  padding-top: 9cm;
  
}
.mouse {
  text-align: center;
  padding-top: 5cm;
  padding-bottom: 2cm;
}
.welcome2 {
  padding-top: 50cm;

}
.delani{
  padding-top: 3cm;
}
.amazing {
  padding-top: 1cm;
  padding-bottom: 5cm;
}
.aboutus {
  text-align: center;
  padding-top: 1px;
}
.services {
  text-align: center;
  background-image: url("../images/backgrounds/s_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: whitesmoke;
  margin: 10%;
  padding: 5%;
}