h1 {

  font-family: 'Roboto Mono', monospace;
    text-align: center;

}
.container h3 {
text-align: center;
}
.container img {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
h2 {
  text-align: center;
}
.gallery {
  
 margin-left: 100px;
 margin-right: 100px;

  
}
div.container2 {
  background-image: url("../../images/backgrounds/c_image.jpg");
  padding: 25px;
  background-repeat: no-repeat;
  background-size: cover;
}

.message {
  height: 200px;
  width: 80%;
}
.end {
  text-align: center;
}
.welcome {
  background-image: url("../images/backgrounds/h_img.jpg");
  color: whitesmoke;
}
.welcome h6 {
  text-align: center;
  font-size: x-small;
}
